NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STXLM_CONTRACT_ID=CDLVFCJFKYQX4LO2CUVAWF3A5ENHNX3K6552KRFDEF36IIHORDEIVO7W
NEXT_PUBLIC_VAULT_CONTRACT_ID=CBJHCW2ENU2TEGY6CNCFKRR4UZL6K7XUT3SS3O55NCKBK4IVRDUXXAJS
